[workspace]
members = [
    "crates/bdk",
    "crates/chain",
    "crates/file_store",
    "crates/electrum",
    "example-crates/example_cli",
    "example-crates/keychain_tracker_electrum",
    "example-crates/keychain_tracker_esplora",
    "example-crates/keychain_tracker_example_cli",
    "example-crates/wallet_electrum",
    "example-crates/wallet_esplora",
    "example-crates/wallet_esplora_async",
    "nursery/tmp_plan",
    "nursery/coin_select"
]

[workspace.package]
authors = ["Bitcoin Dev Kit Developers"]
