on: [push, pull_request]

name: CI

jobs:

  prepare:
    runs-on: ubuntu-latest
    outputs:
      rust_version: ${{ steps.read_toolchain.outputs.rust_version }}
    steps:
      - name: "Checkout repo"
        uses: actions/checkout@v4
      - name: "Read rust version"
        id: read_toolchain
        run: echo "rust_version=$(cat rust-version)" >> $GITHUB_OUTPUT
  
  build-test:
    name: Build and test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - version: stable
            clippy: true
          - version: 1.63.0 # MSRV
        features:
          - --no-default-features --features miniscript/no-std
          - --all-features
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: ${{ matrix.rust.version }}
            override: true
            profile: minimal
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2.7.5
      - name: Pin dependencies for MSRV
        if: matrix.rust.version == '1.63.0'
        run: |
          cargo update -p zstd-sys --precise "2.0.8+zstd.1.5.5"
          cargo update -p time --precise "0.3.20"
          cargo update -p home --precise "0.5.5"
          cargo update -p proptest --precise "1.2.0"
          cargo update -p url --precise "2.5.0"
          cargo update -p cc --precise "1.0.105"
          cargo update -p tokio --precise "1.38.1"
          cargo update -p tokio-util --precise "0.7.11"
          cargo update -p indexmap --precise "2.5.0"
          cargo update -p security-framework-sys --precise "2.11.1"
          cargo update -p csv --precise "1.3.0"
          cargo update -p unicode-width --precise "0.1.13"
      - name: Build
        run: cargo build --workspace --exclude 'example_*' ${{ matrix.features }}
      - name: Test
        run: cargo test --workspace --exclude 'example_*' ${{ matrix.features }}

  check-no-std:
    name: Check no_std
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          profile: minimal
          # target: "thumbv6m-none-eabi"
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2.7.5
      - name: Check bdk_chain
        working-directory: ./crates/chain
        # TODO "--target thumbv6m-none-eabi" should work but currently does not
        run: cargo check --no-default-features --features miniscript/no-std,hashbrown
      - name: Check bdk wallet
        working-directory: ./crates/wallet
        # TODO "--target thumbv6m-none-eabi" should work but currently does not
        run: cargo check --no-default-features --features miniscript/no-std,bdk_chain/hashbrown
      - name: Check esplora
        working-directory: ./crates/esplora
        # TODO "--target thumbv6m-none-eabi" should work but currently does not
        run: cargo check --no-default-features --features miniscript/no-std,bdk_chain/hashbrown

  check-wasm:
    name: Check WASM
    runs-on: ubuntu-20.04
    env:
      CC: clang-10
      CFLAGS: -I/usr/include
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        # Install a recent version of clang that supports wasm32
      - run: wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add - || exit 1
      - run: sudo apt-get update || exit 1
      - run: sudo apt-get install -y libclang-common-10-dev clang-10 libc6-dev-i386 || exit 1
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            override: true
            profile: minimal
            target: "wasm32-unknown-unknown"
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2.7.5
      - name: Check bdk wallet
        working-directory: ./crates/wallet
        run: cargo check --target wasm32-unknown-unknown --no-default-features --features miniscript/no-std,bdk_chain/hashbrown
      - name: Check esplora
        working-directory: ./crates/esplora
        run: cargo check --target wasm32-unknown-unknown --no-default-features --features miniscript/no-std,bdk_chain/hashbrown,async

  fmt:
    name: Rust fmt
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            override: true
            profile: minimal
            components: rustfmt
      - name: Check fmt
        run: cargo fmt --all -- --config format_code_in_doc_comments=true --check

  clippy_check:
    needs: prepare
    runs-on: ubuntu-latest
    permissions:
      checks: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
            toolchain: ${{ needs.prepare.outputs.rust_version }}
            components: clippy
            override: true
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2.7.5
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: Clippy Results
          args: --all-features --all-targets -- -D warnings

  build-examples:
    name: Build & Test Examples
    runs-on: ubuntu-latest
    strategy:
      matrix:
        example-dir:
          - example_cli
          - example_bitcoind_rpc_polling
          - example_electrum
          - example_esplora
          - example_wallet_electrum
          - example_wallet_esplora_async
          - example_wallet_esplora_blocking
          - example_wallet_rpc
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          profile: minimal
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2.7.5
      - name: Build
        working-directory: example-crates/${{ matrix.example-dir }}
        run: cargo build
